/*reset*/
* {
    margin: 0;
    box-sizing: border-box;
}

/*utility*/
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* generics */
body {
    font-family: sans-serif;
}


/* container */
.container {
    height: 1000px;
    margin-left: 200px;
    margin-right: 200px;
    
}

.container div {
    margin-bottom: 30px;

}

/* sections */
.pink {
    /* height: 150px;
    background-color: #E579E6; */
}

.yellow {
    height: 500px;
    background-color: #E1D67A;
}

.purple {
    height: 50px;
    background-color: purple;
}

/* contenitore-blu */
.blue {
    height: 800px;
    background-color: #0685F8;
}

#blue-wrapper {
    margin-bottom: 10px;
    
}

.blue div{
    background-color: #ABCFE7;
}

.top-section {
    height: 100px;
}

/* colonne */
.colonna {
    margin: 20px;
    height: calc(100% - 180px);
    width: calc(25% - 40px);
    float: left;
}

#left{
margin-left: 0;
}

#right{
    float: right;
    margin-right: 0px;
}

#center{
    width: 50%;
}

/*header*/
#logo {
    width: 200px;
    padding-right: 20px;
    margin-top: 20px;
    border-right: 1px solid;
    border-color:#E9E9E9;
    
}

.navigation {
    text-transform: uppercase;
    list-style: none;
    margin-top: 30px;
    padding-left: 0;
   
}

.navigation li {
    color: #989898;
    display: inline;
    padding-right: 20px;
}
.navigation li:first-child {
    
}